# =============================================================
# Custom
# =============================================================
# Ignore testing creds - we don't use XML in the projcect.
# If we do, we will need to update.
*.xml

# Ingore Transcripts
PowerShell_transcript*

# Build results
[Bb]uild/[Dd]ebug/*
[Bb]uild/[Rr]elease/*
[Bb]uild/BuildInfo.json

[Tt]est(s)?/*/data/*