# Ignore ApiKeys that might make their way into the repo
*ApiKey.xml

# Ingore Transcripts
PowerShell_transcript*

# Build results
[Bb]uild/[Dd]ebug/*
[Bb]uild/[Rr]elease/*
[Bb]uild/BuildInfo.json

# Ignore test data and backups
[Tt]ests/*/data/*
[Tt]ests/data/*

[Tt]ests/*/backup/*
[Tt]ests/backup/*

_build.ps1